.sticky {
    margin: 2px;
    margin-right: 30px;
    position: fixed;
    z-index: 10;
}

.logo {
    padding: 0px 5px;
    font-size: 20px;
}
// .mega-menu {
//     padding: 5px;
//     max-width: 60px;
//     text-align: right;
// }
