@import "@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
}
